@import url('antd/dist/antd.css');
@import './modal.scss';
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.steps-content {
  min-height: 250px;
  margin-top: 20px;
  padding-top: 30px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

.home_img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  > div:last-child {
    color: green;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }
}

.about {
  display: flex;
  align-items: center;
  & .info {
    margin-left: 20px;
    font-size: 18px;
  }
}

.input-area {
  max-width: 300px;
  padding-top: 20px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
